{% extends "PyBirdApp/base.html" %}
{% load static %}
{% load require %}
{% block title %}PyBird | Followeds of {{ id_user }}{% endblock %}
{% block content %}
{% load avatar_tags %}

    <div class="sh-head-user">
        <div class="sh-head-user__content">
            <div class="sh-head-user__image">
                <a href="{% url 'avatar_change' %}">
                    {% for user in this_user %}
                        {% avatar user.username %}
                    {% endfor %}
                </a>
            </div>
            <div class="sh-head-user__info">
                <div class="sh-head-user__info-head">
                    {% for user in this_user %}
                    <div class="sh-head-user__name"><span>{{ user.username }}</span>
                        {% if request.user.username != user.username %}
                            {% if isFollowed == 1 %}
                                <i><img src="{% static 'fonts/icons/sharehub/svg/Verified.svg'%}" alt=""></i>
                            {% endif %}
                        {% endif %}
                    </div>
                        {% if request.user.username != user.username %}
                            {% if isFollowed == 0 %}
                                <a href="{% url 'follow' user.id %}" class="sh-head-user__btn-follow sh-btn">Follow</a>
                            {% else %}
                                <a href="{% url 'follow' user.id %}" class="sh-head-user__btn-follow sh-btn">Unfollow</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <p>Two fish are sitting in a tank. One looks over at the other and says: "Hey, do you know how to drive this thing?"</p>
            </div>
        </div>
    </div>
    <div class="sh-content-head">

    </div>
    <!--sections-->
    <div class="row">
        <!--section-->
        <div class="sh-section__item col-lg-3">

        </div>

        <div class="sh-section__item col-lg-6">
            {% for u in this_user %}
                <h1>Followers de @{{ u.username }}</h1><br>
            {% endfor %}
            <ul>
                {% for uFollowers in followers %}
                    {% for userAll in users %}
                        {% if uFollowers.id_follower == userAll.id %}
                            <li><a href="{% url 'profile' uFollowers.id_follower %}"> {{ userAll.username }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>

        <div class="sh-section__item col-lg-4">

        </div>
    </div>
{% endblock %}