{% extends "PyBirdApp/base.html" %}
{% load static %}
{% load require %}
{% block title %}PyBird | Profile {{ id_user }}{% endblock %}
{% block content %}
{% load avatar_tags %}

    <div class="sh-head-user">
        <div class="sh-head-user__content">
            <div class="sh-head-user__image">
                <a href="{% url 'avatar_change' %}">
                    {% for user in this_user %}
                        {% avatar user.username %}
                    {% endfor %}
                </a>
            </div>
            <div class="sh-head-user__info">
                <div class="sh-head-user__info-head">
                    {% for user in this_user %}
                    <div class="sh-head-user__name"><span>{{ user.username }}</span>
                        {% if request.user.username != user.username %}
                            {% if isFollowed == 1 %}
                                <i><img src="{% static 'fonts/icons/sharehub/svg/Verified.svg'%}" alt=""></i>
                            {% endif %}
                        {% endif %}
                    </div>
                        {% if request.user.username != user.username %}
                            {% if isFollowed == 0 %}
                                <a href="{% url 'follow' user.id %}" class="sh-head-user__btn-follow sh-btn">Follow</a>
                            {% else %}
                                <a href="{% url 'follow' user.id %}" class="sh-head-user__btn-follow sh-btn">Unfollow</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="sh-head-user__info-statistic">
                    <div class="sh-btn-icon"><i class="icon-Post"></i><span>{{ nbpost }}</span></div>
                    <div class="sh-btn-icon"><i class="icon-Followers"></i><span><a href="{% url 'followers' id_user %}"
                    style="text-decoration: none;"> {{ nbfollower }}</a></span></div>
                    <div class="sh-btn-icon"><i class="icon-Following"></i><span><a href="{% url 'followeds' id_user %}">
                        {{ nbfollowed }}</a></span></div>
                </div>
                <p>Two fish are sitting in a tank. One looks over at the other and says: "Hey, do you know how to drive this thing?"</p>
            </div>
        </div>
    </div>
    <div class="sh-content-head">

    </div>
    <!--sections-->
    <div class="row">
        <!--section-->
        <div class="sh-section__item col-lg-3">

        </div>

        <div class="sh-section__item col-lg-6">
            {% for p in posts %}
            <div class="sh-section">
                <div class="sh-section__head">
                    <a href="" class="sh-section__avatar sh-avatar">
                        {% avatar p.id_author %}
                    </a>
                    <div>
                        <a href="#" class="sh-section__name">{{ p.id_author }}</a>
                        <span class="sh-section__passed">{{ p.created_at|date:"M/d"|lower }}</span>
                    </div>
                    <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                </div>
                <div class="sh-section__content">
                    <p>{{ p.post_content }}</p>
                </div>
            </div>
            {% empty %}
                <li>This user have no tweet avaiable...</li>
            {% endfor %}
        </div>

        <div class="sh-section__item col-lg-4">

        </div>
    </div>
{% endblock %}