{% extends "PyBirdApp/base.html" %}

{% block content %}
<div class="sh-login">
    <div class="sh-login__content">
        <h1>Sign up</h1>
        <div class="sh-login__form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="sh-login__send">
                    <a href="{% url 'login' %}">Already have an account?</a>
                    <button type="submit" class="sh-btn">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}